.vs/Customer.Inquiries/xs/project-cache/Customer.Inquiries.DataAccess-Debug.json
.vs/Customer.Inquiries/xs/project-cache/Customer.Inquiries.Web-Debug.json
.vs/Customer.Inquiries/xs/sqlite3/db.lock
.vs/Customer.Inquiries/xs/sqlite3/storage.ide
.vs/Customer.Inquiries/xs/sqlite3/storage.ide-shm
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.cache
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.dgspec.json
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.g.props
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.g.targets
Customer.Inquiries.Core/obj/project.assets.json
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.assets.cache
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.csprojAssemblyReference.cache
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.cache
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.dgspec.json
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.g.props
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.g.targets
Customer.Inquiries.DataAccess/obj/project.assets.json
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.assets.cache
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.csprojAssemblyReference.cache
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.cache
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.dgspec.json
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.g.props
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.g.targets
Customer.Inquiries.Web/obj/project.assets.json
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.assets.cache
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.csprojAssemblyReference.cache
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.RazorAssemblyInfo.cache
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.RazorAssemblyInfo.cs
