.vs/Customer.Inquiries/xs/project-cache/Customer.Inquiries.DataAccess-Debug.json
.vs/Customer.Inquiries/xs/project-cache/Customer.Inquiries.Web-Debug.json
.vs/Customer.Inquiries/xs/sqlite3/db.lock
.vs/Customer.Inquiries/xs/sqlite3/storage.ide
.vs/Customer.Inquiries/xs/sqlite3/storage.ide-shm
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.cache
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.dgspec.json
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.g.props
Customer.Inquiries.Core/obj/Customer.Inquiries.Core.csproj.nuget.g.targets
Customer.Inquiries.Core/obj/project.assets.json
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.assets.cache
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.csprojAssemblyReference.cache
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.cache
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.dgspec.json
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.g.props
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.nuget.g.targets
Customer.Inquiries.DataAccess/obj/project.assets.json
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.assets.cache
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.csprojAssemblyReference.cache
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.cache
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.dgspec.json
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.g.props
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.nuget.g.targets
Customer.Inquiries.Web/obj/project.assets.json
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.assets.cache
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.csprojAssemblyReference.cache
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.RazorAssemblyInfo.cache
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.RazorAssemblyInfo.cs
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.pdb
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.dll
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.csproj.FileListAbsolute.txt
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.AssemblyInfoInputs.cache
Customer.Inquiries.DataAccess/obj/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.AssemblyInfo.cs
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/appsettings.Development.json
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/appsettings.json
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.Web.deps.json
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.Web.dll
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.Web.pdb
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.Web.runtimeconfig.dev.json
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.Web.runtimeconfig.json
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.AssemblyInfo.cs
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.AssemblyInfoInputs.cache
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.csproj.FileListAbsolute.txt
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.dll
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.pdb
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.RazorTargetAssemblyInfo.cache
Customer.Inquiries.DataAccess/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.pdb
Customer.Inquiries.DataAccess/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.dll
Customer.Inquiries.DataAccess/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.deps.json
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.pdb
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.dll
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.csproj.FileListAbsolute.txt
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.AssemblyInfoInputs.cache
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.AssemblyInfo.cs
Customer.Inquiries.Core/bin/Debug/netcoreapp2.2/Customer.Inquiries.Core.pdb
Customer.Inquiries.Core/bin/Debug/netcoreapp2.2/Customer.Inquiries.Core.dll
Customer.Inquiries.Core/bin/Debug/netcoreapp2.2/Customer.Inquiries.Core.deps.json
.vs/Customer.Inquiries/xs/UserPrefs.xml
Customer.Inquiries.Core/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.dll
Customer.Inquiries.Core/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.pdb
Customer.Inquiries.Core/obj/Debug/netcoreapp2.2/Customer.Inquiries.Core.csproj.CopyComplete
Customer.Inquiries.DataAccess/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.runtimeconfig.dev.json
Customer.Inquiries.DataAccess/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.runtimeconfig.json
Customer.Inquiries.DataAccess/obj/Customer.Inquiries.DataAccess.csproj.EntityFrameworkCore.targets
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.Core.dll
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.Core.pdb
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.dll
Customer.Inquiries.Web/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.pdb
Customer.Inquiries.Web/obj/Customer.Inquiries.Web.csproj.EntityFrameworkCore.targets
Customer.Inquiries.Web/obj/Debug/netcoreapp2.2/Customer.Inquiries.Web.csproj.CopyComplete
.vs/Customer.Inquiries/xs/project-cache/Customer.Inquiries.Tests-Debug.json
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.Core.dll
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.Core.pdb
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.dll
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.DataAccess.pdb
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.Tests.deps.json
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.Tests.dll
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.Tests.pdb
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.Tests.runtimeconfig.dev.json
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/Customer.Inquiries.Tests.runtimeconfig.json
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/nunit.engine.netstandard.dll
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
Customer.Inquiries.Tests/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
Customer.Inquiries.Tests/obj/Customer.Inquiries.Tests.csproj.nuget.cache
Customer.Inquiries.Tests/obj/Customer.Inquiries.Tests.csproj.nuget.dgspec.json
Customer.Inquiries.Tests/obj/Customer.Inquiries.Tests.csproj.nuget.g.props
Customer.Inquiries.Tests/obj/Customer.Inquiries.Tests.csproj.nuget.g.targets
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.AssemblyInfo.cs
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.AssemblyInfoInputs.cache
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.assets.cache
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.csproj.CopyComplete
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.csproj.FileListAbsolute.txt
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.csprojAssemblyReference.cache
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.dll
Customer.Inquiries.Tests/obj/Debug/netcoreapp2.2/Customer.Inquiries.Tests.pdb
Customer.Inquiries.Tests/obj/project.assets.json
